.add-reports {
  .modal-dialog {
    max-width: 640px !important;
    max-height: 668px !important;

    .modal-content {
      .modal-header {
        height: 60px !important;
        padding: 20px;
        .modal-title {
          font-size: @font-large!important;
          line-height: 12px;
        }
      }
      .modal-body {
        height: 70vh;
        overflow-y: scroll;
        form {
          .form-group {
            color: @color-dark-grey;
            label {
              padding: 0;
              margin: 0;
              font-size: @font-medium;
              line-height: 16px;
            }
            .col-form-label {
              font-weight: bold;
              color: @color-xdark;
              margin-top: 12px;
              &.mandatory-msg {
                font-weight: normal !important;
                color: @color-dark-grey!important;
                font-style: italic;
              }
            }
            .report-input-group {
              padding: 0 !important;
              .add-report-input {
                border-radius: 0 !important;
                min-height: 40px;
                position: relative;
                padding-left: 10px;
                width: 420px;
                border: 2px solid @color-medium-grey;
                color: @color-dark-grey;
                font-size: @font-small;
                line-height: 14px;

                &:focus {
                  outline: 0 !important;
                  box-shadow: none;
                }
                &.input-error {
                  border: 1px solid @color-danger;
                }
              }

              textarea {
                height: 68px !important;
                font-size: @font-medium;
                line-height: 16px;
                resize: none;
              }

              &.add-frequency-container {
                position: relative;
                input[type='number'] {
                  -webkit-appearance: textfield;
                  -moz-appearance: textfield;
                  appearance: textfield;
                }

                input[type='number']::-webkit-inner-spin-button,
                input[type='number']::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                }
                .btn-up {
                  cursor: pointer;
                  &:before {
                    content: '\f113';
                    font-family: @font-family-icon;
                    position: absolute;
                    right: 10px;
                    font-size: @font-small;
                    top: 3px;
                    line-height: 16px;
                  }
                }
                .btn-down {
                  cursor: pointer;
                  &:before {
                    content: '\f110';
                    font-family: @font-family-icon;
                    position: absolute;
                    right: 10px;
                    font-size: @font-small;
                    bottom: 2px;
                    line-height: 16px;
                  }
                }
                .add-frequency {
                  margin-left: 20px;
                  height: 40px;
                  padding: 10px 13px;
                  color: @color-dark-grey;
                  width: 60px;
                  border: 2px solid @color-medium-grey;
                  &:focus {
                    outline: none;
                  }
                }
                label {
                  font-size: @font-small;
                  line-height: 14px;
                  color: @color-dark-grey;
                }
                &.dropdown {
                  input[type='checkbox']:checked ~ ul {
                    display: block;
                  }
                  .checkbox-disable {
                    display: none;
                  }
                  ul {
                    position: absolute;
                    display: none;
                    list-style: none;
                    z-index: 99;
                    width: 100px;
                    padding: 0;
                    margin: 0;
                    top: 38px;
                    left: 20px;
                    text-align: left;
                    border: 2px solid @color-medium-grey;
                    li {
                      text-transform: capitalize;
                      padding: 8px;
                      padding-left: 12px;
                      cursor: pointer;
                      background: @color-white;
                      font-size: @font-small;
                      &:hover {
                        background: @color-primary-light;
                      }
                    }
                  }
                  .add-frequency {
                    width: 100px;
                    cursor: pointer;
                    text-transform: capitalize;
                    &:after {
                      content: '\F110';
                      font-size: @font-icon-xsmall;
                      line-height: 20px;
                      font-family: @font-family-icon;
                      top: 10px;
                      position: absolute;
                      right: 10px;
                    }
                  }
                  input[type='checkbox']:checked ~ .add-frequency {
                    &:after {
                      content: '\F113';
                    }
                  }
                }
              }
            }
            .instruction-msg {
              font-size: @font-small;
              font-style: italic;
              color: @color-input-msg;
              line-height: 16px;
              margin-top: 8px;
              padding-left: 10px;
              &.error {
                color: @color-danger;
              }
            }
            .frequency {
              width: 420px;
            }
            .selector-container {
              padding: 0;
              display: flex;
              margin-top: 22px;
              .week-picker {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                flex-wrap: wrap;
                li {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  height: 40px;
                  width: 40px;
                  text-align: center;
                  border-right: 0px solid;
                  border-top: 2px solid;
                  border-bottom: 2px solid;
                  border-left: 2px solid;
                  border-color: @color-primary;
                  &:nth-child(n + 11) {
                    border-top: 0px;
                  }
                  &:nth-child(10n) {
                    border-right: 2px solid @color-primary;
                  }
                  &:last-child {
                    border-right: 2px solid @color-primary;
                    width: 42px;
                  }
                  &.active {
                    background: @color-primary !important;
                    color: @color-white !important;
                    &:hover {
                      color: @color-primary;
                    }
                  }
                  &:hover {
                    background: @color-primary-light;
                  }
                }
              }
              .instruction-msg {
                color: @color-dark-grey;
                font-style: normal;
              }
            }
          }
        }
      }
      .modal-footer {
        padding: 20px !important;
        .btn{
          &.disabled{
            background: @color-button-disabled;
          }
        }
      }
    }
  }
}
