@import '../../../styles/mixins.less';
.add-category-compare {
  .modal-dialog {
    max-width: 640px !important;

    .modal-body {
      height: 70vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-grow: 0 1;
      overflow: auto;
      flex-wrap: wrap;
      padding: 0 !important;
      .loader-wrapper {
        .wrapper {
          .loader-1 {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 0;
            bottom: 0;
          }
        }
      }
      .list-container {
        margin: 0 !important;
        padding: 0 !important;
        .topic-list {
          padding: 0;
          margin: 0;
          ul {
            padding: 0;
            margin: 0 !important;
            li {
              &:not(:first-child) {
                margin-bottom: 5px !important;
              }
              height: 56px;
              display: flex;
              align-items: center;
              &.main-list {
                margin-bottom: 0px !important;
                padding-left: 20px;
                label {
                  margin: 0 !important;
                  font-weight: bold;
                  font-size: @font-medium;
                  line-height: 12px;
                }
              }
              &.sub-list {
                padding-left: 40px;
                cursor: pointer;
                label {
                  cursor: pointer;
                  margin: 0 !important;
                  font-size: @font-medium;
                  line-height: 18px;
                }
                &.active {
                  background: @color-primary-light;
                  color: @color-primary;
                  &:after {
                    content: '\f17b';
                    color: @color-primary;
                    font-family: LineAwesome;
                    position: absolute;
                    right: 30px;
                    font-size: 18px;
                    line-height: 24px;
                  }
                }
                &:hover {
                  background: @color-primary-light;
                  color: @color-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
