.modal-content {
  .modal-body {
    form {
      padding: 20px;
      .form-group {
        display: flex;

        label {
          font-size: @font-medium;
          line-height: 16px;
          color: @color-xdark;
          font-weight: bold;
        }
        input {
          box-shadow: none !important;
          border-radius: 0 !important;
          &.input-error {
            border: 1px solid @color-danger !important;
          }
        }
        .la-eye,
        .la-eye-slash {
          position: absolute;
          right: 18px;
          top: 6px;
          font-size: @font-icon-small;
          line-height: 27px;
          color: @color-dark-grey;
        }
        .message {
          font-size: @font-small;
          color: @color-input-msg;
          line-height: 14px;
          font-style: italic;
          padding-left: 5px;
          padding-top: 6px;
          &.msg-error {
            color: @color-danger;
          }
        }
        .form-control {
          box-shadow: none;
        }
        &.margin-40 {
          margin-bottom: 40px;
        }
        &.margin-20 {
          margin-bottom: 20px;
        }
      }
    }
  }

  .modal-footer {
    .manage-password {
      .btn {
        width: 148px;
        height: 48px;
        font-size: @font-small;
        font-weight: bold;
        color: @color-primary;
        line-height: 30px;
        border: 2px solid @color-primary;
        background-color: @color-white;
        margin-left: 20px;
        box-shadow: none;
        &.change-btn {
          min-width: 200px !important;
          background: @color-primary !important;
          color: @color-white !important;
          &:hover {
            color: @color-white !important;
            background: @color-hover !important;
          }
        }
        &:hover {
          color: @color-white;
          background: @color-hover;
        }
        &.disabled {
          pointer-events: none;
          background: @color-button-disabled;
        }
      }

      &:focus {
        outline: 0 !important;
        box-shadow: none;
      }
    }
  }
}
