.react-bootstrap-daterangepicker-container {
  .input-container {
    display: flex;
    margin-left: 15px;
    position: relative;
    height: 32px;
    border: none;
    cursor: pointer;

    &:hover {
      .la {
        background-color: @color-hover !important;
      }
    }
    .icon {
      padding: 6px 5px;
      font-size: @font-icon-small;
      line-height: 24px;
      color: @color-white;
      background-color: @color-primary;
      border-radius: 4px 0 0 4px;
      width: 32px;
      height: 32px;
      text-align: center;
      &:hover {
        background-color: @color-hover;
      }
    }
    input {
      cursor: pointer;
      border: 1px solid @color-input-border;
      max-width: 170px;
      height: 32px;
      padding: 10px 11px;
      font-size: @font-small;
      border-radius: 0 4px 4px 0;
      height: 32px;
      line-height: 12px;
      color: @color-primary;
      &:active,
      &:focus {
        outline: none;
      }
      &::placeholder {
        text-align: center;
        color: @color-primary;
      }
      &:hover {
        .la {
          background-color: @color-hover;
        }
      }
    }
    .comments-filter-item {
      height: 390 px;
      width: 133.61px;
      z-index: 99;
      background: @color-white;
      position: absolute;
      top: 32px;
      box-shadow: @box-shadow-3-6-29;
    }
    &.active {
      .icon {
        background-color: @color-button-active;
      }
    }
  }
}
.custom-date-picker {
  right: 162px !important;
  right: 52px !important;
  box-shadow: @box-shadow-3-6-29;
  border: none;
  overflow: hidden;
  border-radius: 10px;
  &.daterangepicker {
    top: 132px;
    .ranges {
      margin-top: 0 !important;
      width: 170px;
      margin: 0;
      height: 280px;
      ul {
        margin: 0;
        border-radius: 10px 0 0 10px;
        li {
          height: 56px;
          width: 170px;
          padding: 20px;
          align-items: center;
          font-size: @font-medium;
          color: @color-dark-grey;
          line-height: 12px;
          &.active {
            background-color: @color-primary-light;
            color: @color-primary;
          }
        }
      }
    }
    .drp-calendar {
      &.left {
        box-shadow: @box-shadow-3-6-29;
        border: none;
      }
      &.left,
      &.right {
        height: 280px;
        width: 266px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @color-primary-light;
      }
      .calendar-table {
        background: transparent;
        width: 225px;
        height: 220px;
        border: none;
        .table-condensed {
          border-spacing: 0 3px;
          border-collapse: separate;
          thead {
            &:first-child {
              .prev {
                span {
                  border: none;
                  border-width: none;
                  transform: rotate(0deg);
                  -webkit-transform: rotate(0deg);
                  color: @color-dark-grey;
                  &:before {
                    content: '\f111';
                    font: normal normal normal 16px/1 LineAwesome;
                  }
                }
              }
              .month {
                color: @color-xdark;
              }
            }
            &:nth-child(1n) {
              th {
                font-size: @font-xsmall !important;
                border: none !important;
                min-width: 30px !important;
                max-width: 30px !important;
                line-height: 12px !important;
              }
              color: @color-dark-grey;
            }
            .next {
              span {
                border: none;
                border-width: none;
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                color: @color-dark-grey;
                &::before {
                  content: '\f112';
                  font: normal normal normal 16px/1 LineAwesome;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                height: 25px;
                font-size: @font-xsmall;
                line-height: 25px;
                color: @color-dark-grey;
                background: @color-primary-light;
                &.in-range {
                  background: @color-calender-range;
                }
                &.off {
                  &.ends {
                    visibility: hidden;
                  }
                }
              }
              .start-date,
              .end-date {
                background: linear-gradient(267deg, #d6ecfe 60%, #ff000000 15%) !important;
                position: relative;
                border: none;
                color: @color-primary-dark;
                z-index: 9;
                &.available {
                  &:before {
                    width: 30px;
                    height: 30px;
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: -1.5px;
                    right: 1.5px;
                    border-radius: 50%;
                    background: @color-input-border;
                  }
                }
              }
              .end-date {
                background: linear-gradient(90deg, #d6ecfe 60%, #ff000000 15%) !important;
                border-left: 1px solid #d6ecfe;
                border: none;
                &:before {
                  right: 1.5px;
                }
              }
            }
          }
        }
      }
    }

    &:before {
      display: none !important;
      content: none !important;
      position: relative;
      border: none !important;
    }
    &:after {
      border: none;
    }
  }
  @media screen and (max-width: 640px) {
    right: 0 !important;
    left: 0;
    .ranges {
      display: none;
    }
  }
}
