@import '../../../styles/mixins';
button {
  cursor: pointer;
  &.btn-default {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    padding-right: 8px;
    .la {
      font-size: @font-xlarge;
      bottom: 4px;
      line-height: 24px;
      margin-left: 10px;
    }
    label {
      cursor: pointer;
      position: relative;
      font-size: @font-small;
      margin-left: 5px;
      line-height: 30px;
      margin-right: 12px;
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
    &:hover {
      color: @color-white;
      background: @color-hover;
    }
  }
}

.search-container {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  margin-right: 52px;
  input {
    color: @color-dark-grey;
    background: @color-input-background;
    border: none !important;
    border-radius: 4px;
    height: 32px;
    width: 200px;
    padding: 9px 0 9px 10px;
    font-size: @font-small;
    line-height: 14px;
    &:focus {
      outline: 0 !important;
    }
    &::placeholder {
      color: @color-dark-grey;
    }
  }
  .la-search {
    color: @color-dark-grey;
    font-size: @font-icon-xsmall;
    line-height: 18px;
    right: 8px;
    position: absolute;
  }
}

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 50px;
  padding: 0;
  border-radius: 0;
  &:focus-within {
    border: none;
  }
  .tag-item {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @color-primary;
    padding: 8px 0px 8px 15px;
    font-size: @font-small;
    line-height: 12px;
    list-style: none;
    margin: 8px 8px 0px 0;
    border: 2px solid @color-primary;
    border-radius: 15px;
    span {
      color: @color-primary!important;
      text-transform: capitalize;
      font-size: @font-small;
      line-height: 12px;
    }
    &.input-email {
      span {
        text-transform: none;
      }
    }
    i {
      font-size: @font-icon-small;
      line-height: 24px;
      margin-left: 10px;
      padding: 4px 6px 4px 0px;
      color: @color-primary;
      border-radius: 50%;
      cursor: pointer;
    }
    &.input-email {
      span {
        text-transform: none !important;
      }
    }
  }
  input {
    border: none;
    min-height: 49px;
    background: transparent;
    font-size: @font-medium;
    padding: 4px 0 0 0;
    font-size: @font-small;
    &:focus {
      outline: transparent;
    }
    &::placeholder {
      color: @color-input-msg;
    }
  }
}

.delete-confirmation {
  .modal-dialog {
    max-width: 640px !important;
    .modal-content {
      min-width: 640px !important;
      height: 210px;
      .modal-header {
        margin-left: 20px;
        margin-right: 15px;
        padding: 0 !important;
        .modal-title {
          h4 {
            font-size: @font-large;
            line-height: 12px;
          }
        }
      }
      .modal-body {
        display: flex;
        align-items: center;
        justify-content: center;
        .confirm-message {
          display: flex;
          align-content: center;
          min-height: 34px;
          width: 512px;
          p {
            font-size: @font-medium;
            line-height: 18px;
            text-align: center;
          }
        }
      }
      .modal-footer {
        justify-content: center;
        margin: 0 !important;
        padding: 0 !important;
        margin-bottom: 30px;
        .manage-action-button {
          margin-bottom: 30px;
          &.disable {
            .btn {
              pointer-events: none;
              background: @color-button-disabled!important;
              color: @color-white !important;
              border: 0 !important;
            }
          }
        }
      }
    }
  }
}
