header {
  margin-left: 70px;
  background-color: @color-white;
  height: 70px;
  .container-fluid {
    padding: 0 !important;
    .content {
      color: @color-primary;
      display: flex;
      position: relative;
      margin: 0 !important;
      height: 70px;
      .dash-div {
        display: flex;
        height: 70px;
        padding: 32px 30px 27px;
        .dashboard {
          font-size: @font-medium;
          padding-bottom: 27px;
          margin-right: 16px;
          cursor: pointer;
          line-height: 12px;
          text-transform: uppercase;
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            margin-top: 24px;
            background-color: @color-button-active;
            transition: width 0.3s;
          }
          &.active {
            font-weight: bold;
            color: @color-button-active;
            &:after {
              width: 100%;
            }
          }
          &:hover {
            color: @color-hover;
          }
        }
      }

      .user {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: @color-primary;
        right: 30px;
        line-height: 34px;
        cursor: pointer;
        i {
          font-size: @font-icon-large;
          color: @color-white;
          padding: 10px;
        }
        .user-block {
          z-index: 999;
          display: none;
          background-color: @color-white;
          padding: 0;
          position: absolute;
          border-radius: 10px;
          overflow: hidden;
          right: -10px;
          text-align: left;
          font-size: @font-medium;
          height: 168px;
          width: 150px;
          top: 60px;
          color: @color-dark-grey;
          box-shadow: @box-shadow-3-6-29;
          ul {
            padding: 0;
            margin: 0;
            li {
              cursor: pointer;
              height: 56px;
              display: flex;
              align-items: center;
              justify-content: left;
              padding-left: 30px;
              font-size: @font-small;
              line-height: 12px;
              transition: 0.5s;
              &:hover {
                background: @color-primary-light;
                color: @color-primary;
                transition: 0.5s;
              }
            }
          }
          &.show {
            display: block;
          }
        }
        &:hover {
          background: @color-hover;
        }
        &.active {
          background: @color-button-active;
        }
      }
    }
  }

  ul {
    list-style: none;
  }
}
